.tired {
  animation: blinker 1s linear infinite;
  font-size: 40px;
  color: red;
  font-weight: bold;
  text-shadow: 0 0 20px red;
}

.ok {
  font-size: 40px;
  font-weight: bold;
  font-weight: bold;
  text-shadow: 0 0 30px #5a64ea;
  text-shadow: 0 0 20px white;
  background: linear-gradient(
    to right,
    #fff 20%,
    #5a64ea 40%,
    #5a64ea 60%,
    rgba(255, 109, 152, 1) 70%,
    #fff 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s linear infinite;
}

.fatigue {
  font-size: 20px;
  color: white;
}

.one {
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: rgba(255, 109, 152, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.two {
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: #ad77b7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.three {
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: #5a64ea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.onedance {
  font-size: 30px;
  color: #ff6d98;
  font-weight: bold;
  text-shadow: 0 0 10px 10px #5a64ea;
}

.twodance {
  font-size: 30px;
  color: #ad77b7;
  font-weight: bold;
}

.threedance {
  font-size: 30px;
  color: #5a64ea;
  font-weight: bold;
}

.blobempty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-weight: bold;
  font-size: 50px;
  border-radius: 50%;
  background: white;
  color: #9ba6b2;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 1.5s infinite;
}

.blobone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-weight: bold;
  font-size: 50px;
  border-radius: 50%;
  background: white;
  color: #ff6d98;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 1.5s infinite;
  /* box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7); */
  /* animation: pulse-green 1.5s infinite; */
}

.blobtwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-weight: bold;
  font-size: 50px;
  border-radius: 50%;
  color: #ad77b7;
  background: white;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 1.5s infinite;
}

.blobthree {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-weight: bold;
  font-size: 50px;
  border-radius: 50%;
  background: white;
  color: #5a64ea;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 1.5s infinite;
}

.positionsOne {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-weight: bold;
  font-size: 50px;
  border-radius: 50%;
  color: #ff6d98;
  background: white;
}

.positionsTwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-weight: bold;
  font-size: 50px;
  border-radius: 50%;
  color: #ad77b7;
  background: white;
}

.positionsThree {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-weight: bold;
  font-size: 50px;
  border-radius: 50%;
  color: #5a64ea;
  background: white;
}

.detectedPosition {
  width: 100%;
  /* height: 100%; */
  /* background-color: #3a3c41; */
  background: linear-gradient(
    77deg,
    rgba(255, 109, 152, 1) 0%,
    rgba(90, 101, 234, 1) 100%
  );
  background-size: 150% 150%;
  animation: gradient 3s ease infinite;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 20px 1px #202225;
  padding: 10px;
}

.expectedPosition {
  width: 100%;
  /* height: 100%; */
  background: #3a3c41;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 20px 1px #202225;
  padding: 10px;
}

.syncMove {
  font-size: 118px;
  color: #9ba6b2;
  animation: rotation 3s linear infinite;
}

.syncMoveBig {
  font-size: 150px;
  color: #9ba6b2;
  animation: rotation 3s linear infinite;
}

.syncStop {
  font-size: 130px;
  color: #9ba6b2;
  /* animation: rotation 3s linear infinite; */
}

.syncStatus {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.notSync {
  font-size: 40px;
  color: red;
  text-shadow: 0 0 20px red;
  font-weight: bold;
  animation-delay: 1s;
  animation: bigshake 1s ease infinite;
}

.okSync {
  font-size: 40px;
  color: white;
  font-weight: bold;
  animation-delay: 1s;
  animation: smallshake 1s ease infinite;
}

.perfectSync {
  font-size: 40px;
  color: #5a64ea;
  font-weight: bold;
  animation-delay: 1s;
  animation: glow 2s linear infinite;
}

.perfect {
  color: #5a64ea;
  font-size: 25px;
}

.excellent {
  color: #ff6d98;
  font-size: 25px;
}

.average {
  color: white;
  font-size: 25px;
}

.poor {
  color: red;
  font-size: 25px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse-white {
  0% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse-green {
  0% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(51, 217, 178, 0);
  }

  100% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* when not sync */
@keyframes smallshake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(0px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes bigshake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(3px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-10px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #5a64ea;
  }

  50% {
    text-shadow: 0 0 50px #5a64ea;
  }

  100% {
    text-shadow: 0 0 10px #5a64ea;
  }
}
