html,
body {
  margin: 0;
  padding: 0;
}
h1,
p {
  margin: 0 0 1em;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: #202225;
  color: white;
  text-align: center;
  font-size: 15px;
  /* font-weight: bold; */
}

.header {
  display: flex;
  flex-direction: row;
  padding: 10px 0px 0px 50px;
  background-color: #2f3136;
  color: white;
  text-align: left;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

.content {
  background-color: #2f3136;
  padding: 20px;
  overflow: "scroll";
  font-size: 150px;
}

.menuItem {
  /* border-radius: 10px; */
  font-size: 15px;
  background-color: transparent;
}

.ant-menu-item {
  color: "white";
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  font-weight: bold;
  background: transparent;
  color: "white";
}

.ant-menu > .ant-menu-item:hover {
  /* color: #5a65ea; */
}

.ant-menu > .ant-menu-item {
  background: transparent;
}

.ant-menu > .ant-menu-item:active {
  background: transparent;
  /* color: #5a65ea; */
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: black;
  background-color: pink;
  /* box-shadow: none !important; */
}

/* .ant-select-selection {
  background-color: green;
} */

/* .ant-select:hover .ant-select-selector {
  border-color: pink !important;
  box-shadow: none !important;
} */
