.brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
  border-radius: 20px;
  /* background-color: #202225; */
  /* background-color: #2f3136; */
  background-color: #5a65ea;
  color: white;
  text-align: center;
  font-size: 15px;
  position: relative;
  z-index: 1;
  /* margin-top: -50px; */
  /* font-weight: bold; */
}

.page {
  background-color: #2f3136;
}

.register {
  position: relative;
  background: #3a3c41;
  border-radius: 20px;
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 20px 1px #202225;
}

.login {
  position: relative;
  background: #3a3c41;
  border-radius: 20px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 20px 1px #202225;
}
